div:hover {
    border: 7px solid red;
}

div:nth-of-type(1) {
    background-color: blue ;
}

div:nth-of-type(2) {
    background-color: purple ;
}

div:nth-of-type(3) {
    background-color: lightblue;
    height: 50px;
}

div:nth-of-type(4) {
    background-color: darkgreen;
}

div:nth-of-type(5) {
    background-color: lightgrey;
}

div:nth-child(odd) h3 {
    font-style: italic;
}

h3 {
    color: slategray;
    font-size: 22px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
