.super-mario {
    width: 200px;
    position: absolute;
    left: 30px;
    top: 120px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 450px;
    left: 90px;
  }
  
  .baloon {
    position: absolute;
    left: 350px;
    top: 300px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 1;
    left: 370px;
    top: 340px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 650px;
    top: 450px;
  }